<div class="styled">
  <h1>Hello from App Component</h1>
  <app-chat></app-chat>
  <app-users></app-users>
  <app-string-interpolation></app-string-interpolation>
  <app-property-bindings></app-property-bindings>
  <app-event-binding></app-event-binding>
  <h1>@Input</h1>
  <app-hello [name]="title"></app-hello>
  <app-hello name="{{title}}"></app-hello>
  <h1>@Output</h1>
  <p>
    Current value of counter is:
    <span [class]="classToSet">{{ counter }}</span>
  </p>
  <app-counter-actions
    (counterChange)="onCounterChange($event)"
  ></app-counter-actions>
</div>
