<app-one></app-one>
<app-two></app-two>
<hr>
<h4>Pipes</h4>
<ul class="list-group">
  <li class="list-group-item">
    Date without Pipe: {{ this.dateToday }}
  </li>
  <li class="list-group-item">
    Date with Pipe: {{ this.dateToday | date }}
  </li>
  <li class="list-group-item">
    Date with Pipe and Params: {{ this.dateToday | date: 'full' }}
  </li>
  <li class="list-group-item">
    Date with Chained Pipe and Params: {{ this.dateToday | date: 'full' | uppercase }}
  </li>
</ul>
<hr>
<h4>Pure and Impure Pipes</h4>
<button class="btn btn-primary"
        (click)="addUser()">
  Add User
</button>
<input type="text" [(ngModel)]="filterIdType">
<ul class="list-group">
  <li class="list-group-item"
      *ngFor="let user of users | filter: filterIdType">
    <div class="alert alert-success" role="alert">UserId: {{ user.id }}, Username: {{ user.username }}</div>
  </li>
</ul>
